<script lang="ts">
    import type { PageData } from "./$types";
    import Prose from "../_components/Prose.svelte";

    export let data: PageData;
</script>

{#each data.articles as article}
    <section
        class="border-b-2 border-white/20 border-dashed last:border-b-0 py-10"
    >
        <span
            role="heading"
            aria-level={2}
            class="block mb-4 uppercase text-2xl bg-none text-left"
        >
            <a
                data-sveltekit-preload-data
                href={article.link}
                class="text-white hover:text-[#fd9f23] transition-colors duration-200"
            >
                {article.title}
            </a>
        </span>
        <Prose>
            {@html article.summary}
        </Prose>
        <a data-sveltekit-preload-data href={article.link} class="link-generic">
            Читать далее...
        </a>
    </section>
{/each}
