<script lang="ts">
    import Logo from "$lib/graphics/logo.svg";
    import Sublogo from "$lib/graphics/sublogo.svg";
    import animateSvg from "$lib/animate-svg";

    export let link: string = null;
</script>

<a
    href={link}
    class="block w-full md:w-11/12 lg:w-9/12 xl:w-8/12 2xl:w-6/12 mx-0 md:mx-auto"
>
    <div
        class="px-2 md:px-0 md:pb-[3%] flex flex-col justify-center
        bg-banner bg-cover bg-no-repeat bg-center w-full aspect-[1599/555]"
    >
        <div
            class="drop-shadow-banner mb-2"
            use:animateSvg={{
                delay: 0.15,
                duration: 4,
                strokeWidth: 2,
                strokeColor: "#ffffff",
                fillColor: "#ffffff",
            }}
        >
            <Logo
                width="100%"
                height="100%"
                alt="Complex Numbers"
                role="presentation"
            />
        </div>

        <div
            class="drop-shadow-banner"
            use:animateSvg={{
                delay: 0,
                duration: 8,
                strokeWidth: 2,
                strokeColor: "#ffffff",
                fillColor: "#ffffff",
            }}
        >
            <Sublogo
                width="100%"
                height="100%"
                alt="Электронная музыка для интеллектуалов"
                role="presentation"
            />
        </div>
    </div>
</a>

<style lang="postcss">
    .drop-shadow-banner {
        filter: drop-shadow(0px 0px 12px #f86021aa)
            drop-shadow(1px 1px 2px #24110090);
    }
</style>
