<script lang="ts">
    import NavButton from "./NavButton.svelte";
    import { page } from "$app/stores";
    import translations from "./translations";
    import IconEx from "$lib/Components/IconEx.svelte";
    import { youtube, vk } from "$lib/Components/icons";

    $: msg = translations[$page.params.language ?? "ru"];
</script>

<nav
    class="w-full md:w-11/12 lg:w-9/12 xl:w-8/12 2xl:w-6/12 mx-0 md:mx-auto
           md:gap-0 flex flex-row flex-wrap md:flex-nowrap
           gap-0.5 items-center justify-around md:justify-between
           font-semibold text-white text-sm"
>
    <NavButton href="/">{msg.music}</NavButton>
    <NavButton href="/story/">{msg.history}</NavButton>
    <NavButton href="/articles/">{msg.articles}</NavButton>
    <NavButton href="/shops/">{msg.externalWebsites}</NavButton>
    <NavButton
        href="https://drive.google.com/drive/folders/1IfQERQ2hdd7sCvmnPAbqx3URyZ6WRHEe"
    >
        {msg.allMusicInFlac}
    </NavButton>
    <NavButton href="http://vk.com/club23865151">
        <IconEx path={vk} />
    </NavButton>
    <NavButton href="https://www.youtube.com/user/complexnumbersgroup">
        <IconEx path={youtube} />
    </NavButton>
</nav>
