<script lang="ts">
    export let show: Boolean;
    export let width: number = null;
</script>

<div
    class:opened={show}
    class="drawer absolute block md:hidden
	inset-0 z-10 bg-black/60"
    on:click={() => {
        show = false;
    }}
/>

<nav
    bind:clientWidth={width}
    class="
	absolute inset-y-0 left-0 md:sticky md:inset-y-auto z-10 md:z-0
    {show
        ? 'translate-x-0 md:max-w-md'
        : '-translate-x-full md:translate-x-0 md:max-w-0'}
	bg-black md:bg-black/60
	shadow-2xl md:shadow-none

	md:h-auto
	flex flex-col

	flex-shrink-0 
	duration-200
	xl:rounded-l-md
	text-white
	md:text-shadow overflow-x-hidden whitespace-nowrap"
>
    <slot />
</nav>

<style>
    .drawer {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s 200ms, opacity 200ms linear;
    }

    .drawer.opened {
        visibility: visible;
        opacity: 1;
        transition: opacity 200ms linear;
    }
</style>
