<script lang="ts">
    import { browser } from "$app/environment";

    import Icon from "mdi-svelte";
    import { fly } from "svelte/transition";

    export let icon: string;
    export let size: number | string;
    export let nomobile = false;
    export let mobileonly = false;
    export let expanded = false;

    const touchable =
        browser &&
        ("ontouchstart" in window ||
            navigator.maxTouchPoints > 0 ||
            (navigator as any).msMaxTouchPoints > 0);

    const prefersReducedMotion =
        browser &&
        window.matchMedia("(prefers-reduced-motion: reduce)").matches;
</script>

<div
    class="dropdown relative
    {nomobile ? 'hidden md:block' : ''} {mobileonly ? 'md:hidden' : ''}"
    on:mouseleave={(e) => {
        if (!touchable) {
            expanded = false;
            e.preventDefault();
        }
    }}
    on:blur={() => {}}
>
    <!-- backdrop -->
    <div
        class="fixed top-0 left-0 w-full h-full overflow-hidden z-10"
        class:hidden={!expanded || !touchable}
        on:click|preventDefault={(e) => {
            expanded = false;
        }}
        on:touchstart|preventDefault={(e) => {
            expanded = false;
        }}
    />

    <button
        type="button"
        class="flex items-center justify-center
               outline-none focus:outline-none
               transition-all motion-reduce:transition-none duration-300
               drop-shadow-basic hoverable:hover:drop-shadow-bigger
               text-2xl z-20"
        on:click={(e) => {
            if (touchable) {
                expanded = !expanded;
                e.preventDefault();
            }
        }}
        on:mouseover={(e) => {
            if (!touchable) {
                expanded = true;
                e.preventDefault();
            }
        }}
        on:focus={() => {}}
    >
        <Icon {size} path={icon} />
    </button>

    {#if expanded}
        <div
            transition:fly={{ y: 10, duration: prefersReducedMotion ? 0 : 300 }}
            class="z-20 absolute top-0 right-0 left-0"
        >
            <slot />
        </div>
    {/if}
</div>
