<script lang="ts">
    import { createEventDispatcher } from "svelte";
    import handle from "./slider";

    const dispatch = createEventDispatcher();

    export let max: number;
    export let value: number;
    export let waiting: boolean;
    export let buffered: number;
    export let tooltipFormatter: (pos: number) => string;

    const touchable =
        "ontouchstart" in window ||
        navigator.maxTouchPoints > 0 ||
        (navigator as any).msMaxTouchPoints > 0;

    let pos: number = null;
    let active = false;
    let hovered = false;
    let hoverPos = 0;

    $: if (active) setValue(pos);
    $: if (!active) setPos(value);

    $: ((max) => clamp())();

    function setValue(pos: number) {
        const width = max;
        value = pos * width;
        dispatch("input", value);
    }

    function setPos(value: number) {
        value = Math.min(Math.max(value, 0), max);
        pos = value / max;
    }

    function clamp() {
        setPos(value);
        setValue(pos);
    }
</script>

<div
    class="h-2 py-0.5 hoverable:hover:py-0
           transition-all motion-reduce:transition-none touch-action-none relative"
    role="slider"
    aria-valuenow={value}
    use:handle
    on:mouseover={() => {
        hovered = true;
    }}
    on:focus={() => {
        hovered = true;
    }}
    on:dragover={(e) => {
        hoverPos = e.detail;
    }}
    on:mouseout={() => {
        hovered = false;
    }}
    on:blur={() => {
        hovered = false;
    }}
    on:dragstart={(e) => {
        active = true;
        if (touchable) {
            hoverPos = e.detail;
        }
        pos = e.detail;
        dispatch("dragstart", e.detail);
    }}
    on:drag={(e) => {
        if (touchable) {
            hoverPos = e.detail;
        }
        pos = e.detail;
        dispatch("drag", e.detail);
    }}
    on:dragend={(e) => {
        active = false;
        dispatch("dragend", e.detail);
    }}
>
    <div class="relative h-full bg-white/20 rounded-full">
        <!-- buffering bar -->
        {#if waiting}
            <div class="absolute inset-0 progress rounded-full" />
        {:else}
            <div
                class="absolute inset-0
                bg-white bg-opacity-10 rounded-l-full"
                style={`right: ${100 - (buffered / max) * 100}%;`}
            />
        {/if}

        <!-- hovering bar with tooltip -->
        <div
            class="absolute left-0 top-0 right-0 bottom-0
            bg-white bg-opacity-50 rounded-l-full"
            class:hidden={!((!touchable && hovered) || (touchable && active))}
            style={`right: ${100 - hoverPos * 100}%;`}
        >
            <div class="absolute right-0 -top-7">
                <div class="relative drop-shadow right">
                    <div
                        class="absolute top-0 z-10 py-2 -mt-2 -ml-5 w-10 text-center text-sm bg-white whitespace-nowrap
        leading-3 text-black rounded"
                    >
                        {tooltipFormatter(hoverPos * max)}
                    </div>
                    <div
                        class="absolute z-10 w-2 h-2 bg-white -translate-x-1 translate-y-4 rotate-45"
                    />
                </div>
            </div>
        </div>

        <!-- current play position line -->
        <div
            class="absolute top-0 right-0 left-0 bottom-0
            bg-lcl-600 rounded-l-full"
            style={`right: ${100 - pos * 100}%;`}
        />

        <!-- scrubber -->
        <div class="absolute top-1/2 w-0 h-0" style={`left: ${pos * 100}%;`}>
            <div class="thumb" class:active>
                <div
                    class="w-4 h-4 rounded-full bg-lcl-600 
                    transition-all motion-reduce:transition-none duration-200 bg-opacity-100 "
                    class:bg-opacity-0={!(
                        (!touchable && hovered) ||
                        (touchable && active)
                    )}
                />
            </div>
        </div>
    </div>
</div>

<style lang="postcss">
    .touch-action-none {
        touch-action: none;
    }
    .thumb {
        @apply relative;
        width: fit-content;
        height: fit-content;
        transform: translate(-50%, -50%);
    }

    .thumb::before {
        @apply w-8 h-8 absolute transition-transform ease-in-out bg-lcl-600 bg-opacity-30 rounded-full;

        content: "";
        transform: translate(-25%, -25%) scale(0);
    }

    .thumb.active::before {
        transform: translate(-25%, -25%) scale(1);
    }
</style>
