<script lang="ts">
    export let label: string;
    export let checked: boolean;
</script>

<label for={label} class="flex items-center cursor-pointer">
    <!-- toggle -->
    <div class="relative">
        <!-- input -->
        <input type="checkbox" id={label} class="sr-only" bind:checked />
        <!-- line -->
        <div class="block bg-gray-600 w-10 h-6 rounded-full" />
        <!-- dot -->
        <div
            class="dot absolute left-1 top-1 bg-white w-4 h-4 rounded-full transition"
        />
    </div>
    <!-- label -->
    <div class="ml-3 whitespace-nowrap">
        {label}
    </div>
</label>

<style>
    input:checked ~ .dot {
        transform: translateX(100%);
    }
</style>
