<script lang="ts">
  import { onDestroy } from "svelte";
  import { page } from "$app/stores";
  import { browser } from "$app/environment";

  import Banner from "./_components/Banner.svelte";
  import NavMenu from "./_components/NavMenu.svelte";
  import trackSections from "$lib/track-sections";

  import { player } from "$lib/MiniPlayer/player";
  import { activeIndex } from "$lib/MiniPlayer/stores";
  import PlayerButtons from "$lib/MiniPlayer/PlayerButtons.svelte";

  import "./app.postcss";
  import translations from "./_components/translations";

  $: msg = translations[$page.params.language ?? "ru"];

  const getCanonicalUrl = (url: URL) => {
    return (
      "https://complexnumbers.ru/" +
      url.pathname +
      (url.pathname.endsWith("/") ? "" : "/")
    );
  };

  onDestroy(() => {
    if (browser) {
      player.stop();
    }
  });
</script>

<svelte:head>
  <link rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/" />
  <link rel="canonical" href={getCanonicalUrl($page.url)} />
</svelte:head>

<a
  class="sr-only focus:not-sr-only 
  focus:absolute top-32 left-8 block z-10
  focus:px-8 focus:py-4 uppercase
  text-sm font-medium border-black border-2
  transition-colors duration-300 bg-white text-black hover:bg-black hover:text-white"
  href="#content"
>
  {msg.skipToContent}
</a>

<header class="relative bg-[#fd601f]">
  <Banner link="/" />

  <div class="md:absolute bottom-0.5 left-0 right-0">
    <NavMenu />
  </div>
</header>

<div class="text-sm text-left md:text-justify">
  <article
    use:trackSections
    class="w-full md:w-11/12 lg:w-11/12 xl:w-9/12 2xl:w-7/12 md:mx-auto text-neutral-200
    {browser && $activeIndex !== null ? 'mb-16' : 'mb-4'}"
    id="content"
  >
    <slot />
  </article>

  {#if browser && $activeIndex !== null}
    <PlayerButtons />
  {/if}
</div>

<style lang="postcss">
  :global(.section-scroll) {
    @apply transition ease-out duration-500 opacity-0 translate-y-16;
  }

  :global(.section-scroll.scrolled) {
    @apply opacity-100 translate-y-0;
  }
</style>
