<script lang="ts">
    import { player } from "$lib/MiniPlayer/player";
    import {
        activeIndex,
        album,
        playlist,
        PlayStatus,
        playStatus,
    } from "$lib/MiniPlayer/stores";
    import PlayListItem from "./PlayListItem.svelte";

    const playPause = (idx: number) => {
        if (!$playlist || $playlist.title !== $album.title) {
            playlist.set($album);
            player.loadTrack(idx);
            player.play();
            return;
        }

        if ($activeIndex !== idx) {
            player.loadTrack(idx);
            player.play();
            return;
        }

        if (
            $playStatus === PlayStatus.Playing ||
            $playStatus === PlayStatus.Waiting
        ) {
            player.pause();
        } else {
            player.play();
        }
    };
</script>

<div role="list">
    {#each $album.tracks as track, idx}
        <PlayListItem {track} {idx} on:click={() => playPause(idx)} />
    {/each}
</div>
