<script lang="ts">
	import Slider from "$lib/AudioPlayer/Components/Slider.svelte";

	import { player } from "./player";
	import {
		duration,
		bufferedTo,
		playPosition,
		playStatus,
		PlayStatus,
	} from "./stores";

	let isUserControlled = false;
	let position = 0;

	$: {
		if (!isUserControlled) {
			position = $playPosition;
		}
	}

	let formatTime = (seconds: number) => {
		if (isNaN(seconds)) return "0:00";

		let minutes = Math.floor(seconds / 60) || 0;
		seconds = Math.floor(seconds % 60) || 0;
		let s_seconds = seconds < 10 ? `0${seconds}` : `${seconds}`;

		return `${minutes}:${s_seconds}`;
	};

	let startDrag = () => {
		isUserControlled = true;
	};

	let stopDrag = (e: CustomEvent) => {
		player.seek(e.detail * $duration);
		isUserControlled = false;
	};
</script>

<div class="relative px-4 lg:px-8 space-x-2 items-center text-sm lg:text-base">
	<div class="absolute left-0 right-0 -top-2">
		<Slider
			bind:value={position}
			buffered={$bufferedTo}
			max={$duration}
			on:dragstart={startDrag}
			on:dragend={stopDrag}
			tooltipFormatter={formatTime}
			waiting={$playStatus === PlayStatus.Waiting}
		/>
	</div>
</div>
