<script lang="ts">
    import type { PageData } from "./$types";
    import { page } from "$app/stores";
    import { browser } from "$app/environment";
    import attachCaptions from "$lib/AudioPlayer/attach-captions";
    import { fade } from "svelte/transition";

    import {
        activeIndex,
        album,
        instrumentalModeImage,
        playStatus,
        playPosition,
        showInfo,
        duration,
        PlayStatus,
        activeTrack,
        nonInstVisu,
        showPlaylist,
    } from "$lib/AudioPlayer/stores";
    import { player } from "$lib/AudioPlayer/player";

    import Visualizer from "$lib/AudioPlayer/Visualizer.svelte";
    import PlayerButtons from "$lib/AudioPlayer/PlayerButtons.svelte";
    import TimeBar from "$lib/AudioPlayer/TimeBar.svelte";
    import Popup from "$lib/AudioPlayer/Components/Popup.svelte";
    import AboutTrackRu from "$lib/AudioPlayer/AboutTrackRu.svelte";
    import AboutTrackEn from "$lib/AudioPlayer/AboutTrackEn.svelte";
    import AboutTrackZh from "$lib/AudioPlayer/AboutTrackZh.svelte";
    import AboutTrackKo from "$lib/AudioPlayer/AboutTrackKo.svelte";
    import { preloadData } from "$app/navigation";
    import Head from "$lib/AudioPlayer/Head.svelte";

    export let data: PageData & { key: string };

    let prefetchPrepared = false;

    const InfoComponents = {
        ru: AboutTrackRu,
        en: AboutTrackEn,
        zh: AboutTrackZh,
        ko: AboutTrackKo,
    };

    const onTrackChange = (track: string) => {
        let idx = null;
        for (let i = 0; i < $album.tracks.length; i++) {
            if ($album.tracks[i].page === track) {
                idx = i;
                break;
            }
        }
        if ($activeIndex !== idx) {
            if (browser && idx !== null) {
                player.loadTrack(idx);
                if (player.hasPlayed) {
                    player.play();
                }
            }
            prefetchPrepared = false;
        }
    };

    $: onTrackChange($page.params.track);

    $: instrumentalModeImage.set(data.metadata.image);

    let captionClicked = (e: CustomEvent) => {
        player.seek(e.detail as number);
        player.play();
    };

    const preparePrefetch = () => {
        const nextTrackIndex = $activeIndex + 1;
        console.log(`preparePrefetch ${nextTrackIndex}`);

        if (nextTrackIndex < $album.tracks.length) {
            const nextTrack = $album.tracks[nextTrackIndex];
            preloadData(nextTrack.url);
            player.prefetch(nextTrackIndex);
        }
        prefetchPrepared = true;
    };

    $: !prefetchPrepared &&
        $playStatus == PlayStatus.Playing &&
        $playPosition > $duration - 15 &&
        preparePrefetch();
</script>

<Head trackPageMetadata={data.metadata} />

<div class="flex-1 flex flex-col overflow-hidden relative">
    {#if !$activeTrack?.instrumental && $nonInstVisu}
        <div
            class="absolute inset-0 flex flex-col opacity-10 md:px-4 lg:px-8 mt-16"
        >
            <Visualizer />
        </div>
    {/if}

    <!-- svelte-ignore a11y-no-noninteractive-tabindex -->
    <div
        class="relative
        flex-1
        scroll-smooth
        content text-shadow focus:outline-none
        text-sm
        {$showPlaylist ? 'md:text-base lg:text-lg' : 'md:text-lg lg:text-xl'}
        {$activeTrack?.instrumental ? 'overflow-y-hidden' : 'overflow-y-auto'}
        "
        tabindex="0"
        on:mouseenter={(event) => event.currentTarget.focus()}
        on:focus={() => {}}
        use:attachCaptions={{
            timings: data.timings,
            positionStore: playPosition,
        }}
        on:jump={captionClicked}
    >
        {#key data.key}
            <div
                class="absolute top-0 left-0 right-0 
                flex flex-col min-h-full
                p-4 lg:p-8 pb-0 lg:pb-0"
                in:fade={{ duration: 300, delay: 150 }}
                out:fade={{ duration: 300 }}
            >
                <h1
                    class="
                    text-2xl
                    {$showPlaylist
                        ? 'md:text-2xl lg:text-2xl xl:text-3xl 2xl:text-4xl'
                        : 'md:text-3xl lg:text-3xl xl:text-4xl 2xl:text-5xl'}
                    mb-5 md:mb-6 lg:mb-7 xl:mb-8
                    text-center font-black mt-0 leading-none
                    drop-shadow-md"
                    class:mb-0={$activeTrack?.instrumental}
                >
                    {String($activeIndex + 1).padStart(2, "0")}.
                    {data.metadata.title}
                </h1>
                {#if $activeTrack?.instrumental}
                    <Visualizer />
                {:else}
                    <div class="my-auto">
                        {@html data.content}
                    </div>
                {/if}
            </div>
        {/key}
    </div>
</div>

{#if browser && $activeIndex !== null}
    <div class="relative flex flex-col flex-none mb-4 vnarrow:mb-2 select-none">
        <TimeBar />
        <PlayerButtons />
    </div>
{/if}

<Popup bind:show={$showInfo}>
    <svelte:component
        this={InfoComponents[$page.params.language]}
        albumMetadata={$album}
        contentPageMetadata={data.metadata}
        activeTrackMetadata={$album.tracks[$activeIndex]}
    />
</Popup>
