<script lang="ts">
    import "./AboutTrack.postcss";

    import type {
        AlbumMetadata,
        TrackMetadata,
        TrackPageMetadata,
    } from "./types";
    import { showGallery, showGalleryExtra } from "./about-track";
    import { formatInfoTitle } from "./formatters";
    import TrackLinks from "./TrackLinks.svelte";

    export let albumMetadata: AlbumMetadata;
    export let contentPageMetadata: TrackPageMetadata;
    export let activeTrackMetadata: TrackMetadata;
</script>

<div class="about-track">
    <h1>{formatInfoTitle(albumMetadata, contentPageMetadata)}</h1>

    {#if contentPageMetadata.byArtist}
        <h2>О композиции «{contentPageMetadata.title}»</h2>
        <p class="text-center">В создании композиции приняли участие:</p>

        {#if showGallery(contentPageMetadata)}
            <div class="gallery">
                {#each contentPageMetadata.byArtist as artist}
                    {#if artist.image}
                        <figure>
                            <img src={artist.image} alt={artist.name} />
                            <figcaption>
                                {artist.role}:
                                <span class="name">{artist.name}</span>
                            </figcaption>
                        </figure>
                    {/if}
                {/each}
            </div>
            {#if showGalleryExtra(contentPageMetadata)}
                <div class="text-center">
                    <p>А также:</p>
                    <ul>
                        {#each contentPageMetadata.byArtist as artist}
                            {#if !artist.image}
                                <li>
                                    {artist.role} —
                                    <span class="name">{artist.name}</span>
                                </li>
                            {/if}
                        {/each}
                    </ul>
                </div>
            {/if}
        {:else}
            <div class="text-center">
                <ul>
                    {#each contentPageMetadata.byArtist as artist}
                        <li>
                            {artist.role} —
                            <span class="name">{artist.name}</span>
                        </li>
                    {/each}
                </ul>
            </div>
        {/if}
    {/if}
    {#if activeTrackMetadata}
        <TrackLinks
            trackMetadata={activeTrackMetadata}
            activeMirror={albumMetadata.mirrors[0]}
            download="Скачать:"
            alsoAvailableAt="Также доступно на:"
        />
    {/if}

    <h2>О произведении</h2>
    {@html albumMetadata.about}
</div>
