<script lang="ts">
    export let isActive = false;
    export let url: string;
    export let idx: number = null;
    export let title: string;
    export let subtitle: string = null;
</script>

<a
    data-sveltekit-preload-data
    href={url}
    data-track-id={idx}
    class="flex flex-col justify-center
		   h-12 md:h-16 my-0.5
           p-2 ml-2.5
           hoverable:hover:bg-lcl-900/50 hoverable:hover:rounded"
    class:bg-lcl-900={isActive}
    class:rounded={isActive}
    on:click
>
    <span class="block text-sm md:text-base xl:text-lg font-medium">
        <span class="inline-block w-5 md:w-7">
            {idx < 9 ? "0" : ""}{idx + 1}.
        </span>
        {title}
    </span>
    {#if subtitle}
        <small
            class="block ml-6 md:ml-8 text-white text-opacity-50
               text-sm md:text-base lg:text-lg xl:text-lg"
        >
            {subtitle}
        </small>
    {/if}
</a>
