<script lang="ts">
	import Button from "./Components/Button.svelte";
	import DropdownButton from "./Components/DropdownButton.svelte";
	import {
		mdiSkipPrevious,
		mdiSkipNext,
		mdiPlaylistMusic,
		mdiVolumeHigh,
		mdiVolumeMedium,
		mdiVolumeMute,
		mdiInformation,
	} from "@mdi/js";

	import { player, SkipDirection } from "./player";
	import {
		showPlaylist,
		playStatus,
		volume,
		showInfo,
		activeIndex,
		album,
		PlayStatus,
	} from "./stores";

	$: isPlaying = [PlayStatus.Playing, PlayStatus.Waiting].includes(
		$playStatus
	);

	const playPauseAudio = () => {
		if (!isPlaying) {
			player.play();
		} else {
			player.pause();
		}
	};

	const rewindAudio = () => player.skip(SkipDirection.Previous);
	const forwardAudio = () => player.skip(SkipDirection.Next);

	let handleKeydown = (event: KeyboardEvent) => {
		let key = event.key;
		switch (key) {
			case " ":
			case "k":
				playPauseAudio();
				event.preventDefault();
				break;
			case "ArrowLeft":
				player.seek(player.playPosition - 5);
				event.preventDefault();
				break;
			case "ArrowRight":
				player.seek(player.playPosition + 5);
				event.preventDefault();
				break;
			case "j":
				player.seek(player.playPosition - 10);
				event.preventDefault();
				break;
			case "l":
				player.seek(player.playPosition + 10);
				event.preventDefault();
				break;
			case "0":
				player.seek(0);
				event.preventDefault();
				break;
			case "1":
				player.seek(player.currentSong.duration * 0.1);
				event.preventDefault();
				break;
			case "2":
				player.seek(player.currentSong.duration * 0.2);
				event.preventDefault();
				break;
			case "3":
				player.seek(player.currentSong.duration * 0.3);
				event.preventDefault();
				break;
			case "4":
				player.seek(player.currentSong.duration * 0.4);
				event.preventDefault();
				break;
			case "5":
				player.seek(player.currentSong.duration * 0.5);
				event.preventDefault();
				break;
			case "6":
				player.seek(player.currentSong.duration * 0.6);
				event.preventDefault();
				break;
			case "7":
				player.seek(player.currentSong.duration * 0.7);
				event.preventDefault();
				break;
			case "8":
				player.seek(player.currentSong.duration * 0.8);
				event.preventDefault();
				break;
			case "9":
				player.seek(player.currentSong.duration * 0.9);
				event.preventDefault();
				break;
			case "-":
			case "_":
				$volume -= 0.05;
				event.preventDefault();
				break;
			case "+":
			case "=":
				$volume += 0.05;
				event.preventDefault();
				break;
		}
	};
</script>

<svelte:window on:keydown={handleKeydown} />

<div class="flex-1 flex px-4 lg:px-8 items-center justify-between">
	<Button
		size="2rem"
		icon={mdiPlaylistMusic}
		on:click={() => ($showPlaylist = !$showPlaylist)}
	/>

	<div class="flex gap-x-4">
		<Button
			size="2rem"
			icon={mdiSkipPrevious}
			on:click={rewindAudio}
			disabled={$activeIndex === 0}
		/>
		{#if isPlaying}
			<button
				class="shapeshifter icopause w-14 h-14
				transition-all motion-reduce:transition-none duration-300
				drop-shadow-basic hoverable:hover:drop-shadow-bigger"
				on:click={playPauseAudio}
			/>
		{:else}
			<button
				class="shapeshifter icoplay w-14 h-14
				transition-all motion-reduce:transition-none duration-300
				drop-shadow-basic hoverable:hover:drop-shadow-bigger"
				on:click={playPauseAudio}
			/>
		{/if}

		<Button
			size="2rem"
			icon={mdiSkipNext}
			on:click={forwardAudio}
			disabled={$activeIndex === $album.tracks.length - 1}
		/>
	</div>

	<div class="flex gap-x-4">
		<DropdownButton
			size="2rem"
			icon={$volume > 0.5
				? mdiVolumeHigh
				: $volume > 0
				? mdiVolumeMedium
				: mdiVolumeMute}
			nomobile
		>
			<div
				class="absolute bottom-0 left-8 pl-2 h-8 w-48
				origin-bottom-left -rotate-90 z-20"
			>
				<div
					class="text-white bg-black/90 rounded-xl w-full h-full pl-2 pr-2"
				>
					<input
						type="range"
						min="0"
						max="1"
						step="0.01"
						bind:value={$volume}
						class="w-full h-full"
					/>
				</div>
			</div>
		</DropdownButton>

		<Button
			size="2rem"
			icon={mdiInformation}
			on:click={() => {
				$showInfo = true;
			}}
		/>
	</div>
</div>
