<script>
    export let vol;
</script>

<div class="flex items-center justify-between m-0 w-full">
    <label for="volume-slider" class="text-center w-5">0</label>

    <input
        class="slider"
        type="range"
        min="0"
        max="100"
        step="1"
        name="volume"
        bind:value={vol}
        on:input
    />

    <label for="volume-slider" class="text-center w-5">{vol}</label>
</div>

<style lang="postcss">
    /* The slider itself */
    .slider {
        @apply appearance-none h-1 my-0 mx-2 p-0 w-48 opacity-70 hoverable:hover:opacity-100;
        background-color: rgba(211, 211, 211, 1);
        outline: none;
        transition: opacity 0.2s;
    }

    /* The thumb slider handle */
    .slider::-webkit-slider-thumb {
        @apply appearance-none cursor-pointer h-4 w-4;
        border-radius: 50%;
        background-color: rgba(136, 136, 136, 1);
        transition: background 0.2s;
    }

    .slider::-moz-range-thumb {
        @apply cursor-pointer h-4 w-4;
        background-color: rgba(76, 175, 80, 1);
    }
</style>
