<script lang="ts">
    import type { PageData } from "./$types";
    import {
        activeIndex,
        album,
        instrumentalModeImage,
    } from "$lib/AudioPlayer/stores";
    import { browser } from "$app/environment";
    import Icon from "mdi-svelte";
    import { player } from "$lib/AudioPlayer/player";
    import { mdiPlay, mdiTranslate } from "@mdi/js";
    import { goto } from "$app/navigation";
    import Head from "$lib/AudioPlayer/Head.svelte";
    import DropdownButton from "$lib/AudioPlayer/Components/DropdownButton.svelte";

    export let data: PageData;

    let langSelectorVisible = false;

    $: activeIndex.set(null);
    $: browser && player.prefetch(0);

    $: instrumentalModeImage.set(data.metadata.image);

    if (browser) {
        player.stop();
    }

    let handleKeydown = (event: KeyboardEvent) => {
        let key = event.key;
        switch (key) {
            case " ":
            case "k":
                player.bypassAutoplayRestriction();
                goto($album.tracks[0].url);
                event.preventDefault();
                break;
        }
    };
</script>

<svelte:window on:keydown={handleKeydown} />

<Head />

<div class="flex-1 overflow-hidden relative select-none">
    <object
        title={$album.title}
        data={data.metadata.overlay}
        class="absolute inset-0"
    />
    <a
        href={$album.tracks[0].url}
        on:click={() => {
            player.bypassAutoplayRestriction();
        }}
        class="absolute inset-0 flex items-center justify-center animate-pulse"
    >
        <Icon path={mdiPlay} size={8} />
    </a>

    <div
        class="absolute top-0 right-0 opacity-30 hover:opacity-80 w-8 h-8
    flex items-center justify-center"
    >
        <DropdownButton
            size="1rem"
            icon={mdiTranslate}
            mobileonly
            bind:expanded={langSelectorVisible}
        >
            <div class="absolute top-4 right-0 z-20">
                <div class="">
                    {#each $album.languages as { code, name }, i}
                        <a
                            data-sveltekit-preload-data
                            href={$album.baseUrl + code + "/"}
                            on:click={() => {
                                langSelectorVisible = false;
                            }}
                            class="block whitespace-nowrap px-2 py-1
                            {code === $album.language
                                ? 'bg-white/90 text-black'
                                : 'bg-black/90'}
                            {i === 0 ? 'rounded-t-md' : ''}
                            {i === $album.languages.length - 1
                                ? 'rounded-b-md'
                                : ''}"
                        >
                            {name}
                        </a>
                    {/each}
                </div>
            </div>
        </DropdownButton>
    </div>
</div>
